<!-- Input -->
@if (element.element_id === elementEnum.TextBox) {
  <div class="form-group">
    <label>Lorem ipsum dolor</label>
    <input type="email" class="form-control form-control-sm" placeholder="Lorem ipsum dolor sit" (click)="$event.preventDefault()" (mousedown)="$event.preventDefault()">
    <small class="form-text text-muted">Lorem ipsum dolor sit, amet adipisicing.</small>
  </div>
}

<!-- File-input -->
@if (element.element_id === elementEnum.File) {
  <div class="form-group">
    <label>Lorem ipsum dolor</label>
    <input type="file" class="form-control-file" (click)="$event.preventDefault()" (mousedown)="$event.preventDefault()">
  </div>
}

<!-- Checkbox -->
@if (element.element_id === elementEnum.CheckBox) {
  @for (dictItem of dictItems$ | async; track dictItem.code) {
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="{{dictItem.code}}" (click)="$event.preventDefault()" (mousedown)="$event.preventDefault()">
      <label class="form-check-label">{{ dictItem.caption }}</label>
    </div>
  }
}

<!-- Radio-button -->
@if (element.element_id === elementEnum.RadioButton) {
  @for (dictItem of dictItems$ | async; track dictItem.code) {
    <div class="form-check">
      <input class="form-check-input" type="radio" value="" (click)="$event.preventDefault()" (mousedown)="$event.preventDefault()">
      <label class="form-check-label">Lorem ipsum dolor sit</label>
    </div>
  }
}

<!-- Button -->
@if (element.element_id === elementEnum.Button) {
  <button type="submit" class="btn btn-primary" (click)="$event.preventDefault()" (mousedown)="$event.preventDefault()">Lorem ipsum dolor sit</button>
}

<!-- Combobox -->
@if (element.element_id === elementEnum.ComboBox) {
  <div class="form-group"> 
    <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Lorem ipsum</label>
    <select class="custom-select custom-select-sm">
      @for (dictItem of dictItems$ | async; track dictItem.code) {
        <option selected>{{ dictItem.caption }}</option>
      }
    </select>
  </div>
}

@if (selectedElement$ | async; as selectedElement) {
  <div class="test-selected-label test-selected-element user-draggable" tabindex="0">
    <img ngSrc="../../../../assets/svg/drag.svg" width="16" height="16"/>
    <span>{{ selectedElement.type }}-{{ selectedElement.id }}[{{selectedElement.index}}]</span>
  </div>
}