@for (row of rows$ | async; track row.id) {
    <app-grid-row [row]="row" appDraggable [dragData]="row" draggableDropzone (itemDropped)="handleDroppedItem($event, row)"></app-grid-row>
}
@empty {
    <ng-container *ngTemplateOutlet="startTemplate"></ng-container>
}

<ng-template #startTemplate>
    <div class="row h-100 w-100">
        <div class="col col-xs col-sm col-md col-lg d-flex flex-column align-items-center justify-content-center">
            <div>Нажмите кнопку «Начать», чтобы создать строки и столбцы сетки</div>
            <br>
            <div>
                <button class="btn" type="button" (click)="createFirstColumns()">Начать <i>🚀</i></button>   
            </div>
        </div>
    </div>
</ng-template>