@import '_variables.scss';

:host {
    height: 100%;
    display: block;
    position: relative;

    padding: $container-padding;

    border-color: transparent;
    border-width: $border-width !important;
    border-style: $border-dashed !important;

    
    .btn {
        padding: 8px 16px;
        border: 1px solid $color-primary;
        border-radius: 5px;
        background-color: transparent;
        cursor: pointer;
    }
}