<div ngbDropdown class="d-inline-block h-100">
  <button type="button" class="btn btn-md btn-outline-secondary" id="layoutSwitcher" ngbDropdownToggle>
    {{ currentDisplay$ | async | uppercase }}
  </button>

  <div ngbDropdownMenu aria-labelledby="layoutSwitcher">
    @for (container of containers$ | async; track $index) {
      <button ngbDropdownItem type="button" (click)="onSelectionChange(container)">
        <span class="text-muted fw-100 ms-2">{{ container | uppercase }}</span>
      </button>
    }
  </div>
</div>