<div class="container">

<div class="mb-5"></div>

<div class="row" @collapseIn>
  @for (item of createItems; track $index) {
    <div class="col-auto">
        <button class="btn btn-outline-secondary p-0" [routerLink]="item.routerLink">
            <div class="card border-0 pt-2 w-btn">
                <div class="mx-auto">
                    <span [class]="item.icon_class">
                        <ukep-icons [name]="item.icon_name"></ukep-icons>
                    </span>
                </div>

                <div class="card-body">
                    <p class="card-text">{{ item.title }}</p>
                </div>
            </div>
        </button>
    </div>
  }
</div>