<div class="main-container">
  
  @if (routeData$ | async; as routeData;) {
    @if (routeData.sidebar === true) {
      <aside ukep-sidebar></aside>
    } 
  }

  <main class="content">
    <div class="container-fluid h-100">
      @if (routeData$ | async; as routeData;) { 
        @if (routeData.header === true) {  
          <header ukep-header [title]="routeData.title" [icon]="routeData.icon"></header>
        } 
      }
      
      <router-outlet></router-outlet>
    </div>
  </main>
</div>