:host {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    flex: 1 1 100%;
    
    overflow-y: scroll;
  }
  
  .main-container {
    display: flex;
    flex-direction: row;
    flex: 1 1 100%;
    box-sizing: border-box;
    max-height: 100%;
    
  }
  
  .content {
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
    box-sizing: border-box;
    overflow-x: hidden;
  }
  
  .sidebar-header {
    min-height: 92px;
  }

// :host {
//     display: flex;
//     flex-direction: column;
//     box-sizing: border-box;
//     flex: 1 1 100%;
// }

// .root-container {
//     display: flex;
//     flex-direction: row;
//     flex: 1 1 100%;
//     box-sizing: border-box;
//     max-height: 100%;
// }

// .sidebar {
//     width: 300px;
//     padding: 15px;
//     display: flex;
//     flex-direction: column;
//     gap: 10px;
//     background-color: aquamarine;

//     .sidebar-item {
//         border: 1px solid red;
//         border-radius: 10px;
//         padding: 7px;
//         cursor: move;
//     }
// }

// .container-fluid {
//     height: 100%;
// }

// .root {
//     display: flex;
//     flex-direction: column;
//     flex: 1 1 0%;
//     align-items: center;
//     box-sizing: border-box;
//     overflow-x: auto;
    
//     background-color: rgb(238, 238, 238);

//     padding: 20px;

//     .board {
//         border: 1px solid rgb(177, 177, 177);
//         background-color: #FFF;
//         height: 100%;
//         width: 100%;
//         transition: width .3s ease-in-out;
//         cursor: default;

//         &.resizable {
//             position: relative;
//         }

//         &.resizable::after {    
//             content: '';
//             position: absolute;
//             bottom: -2px;
//             right: -5px;

//             width: 1px; 
//             height: 1px; 
//             border-left: 6px solid transparent;
//             border-right: 6px solid transparent;
//             border-bottom: 6px solid rgb(177, 177, 177);

//             transform: rotate(135deg);
//         }

//         &.resizable--hover {
//             position: relative;
//             cursor: se-resize;
//             user-select: none;
//             transition: none;

//             &.resizable::after {
//                 border-bottom-color: red;
//             }
//         }
        
//         &.resizable--active {
//             position: relative;
//             cursor: se-resize;
//             user-select: none;
//             transition: none;

//             &.resizable::after {
//                 border-bottom-color: green;
//             }
//         }
//     }
// }





// .multiselect {
//     width: 200px;
//   }
  
//   .selectBox {
//     position: relative;
//   }
  
//   .selectBox select {
//     width: 100%;
//     font-weight: bold;
//   }
  
//   .overSelect {
//     position: absolute;
//     left: 0;
//     right: 0;
//     top: 0;
//     bottom: 0;
//   }
  
//   #checkboxes {
//     // display: none;
//     background-color: #FFF;
//     border: 1px #dadada solid;
//   }
  
// #checkboxes {
    
//     label {
//         display: block;
//     }

//     label, input {
//         cursor: pointer;
//     }
// }

// #checkboxes[data-theme=light] {

//     label:hover {
//         background-color: #1e90ff;
//     }
// }

// #checkboxes[data-theme=dark] {

//     label:hover {
//         background-color: #ff1e69;
//     }
// }