:host {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  flex: 1 1 100%;

  overflow-y: scroll;
}

.main-container {
  display: flex;
  flex-direction: row;
  flex: 1 1 100%;
  box-sizing: border-box;
  max-height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  box-sizing: border-box;
  overflow: hidden;
}

.sidebar-header {
  min-height: 92px;
}