<header ukep-header>
    <div class="icon-header d-flex align-items-center gap-2">
        <button type="button" class="btn btn-outline-secondary" [routerLink]="['..']">
            <span class="svg-icon svg-icon-primary">
                <ukep-icons name="angle_left"></ukep-icons>
            </span>
        </button>

        <button type="button" class="btn btn-outline-secondary" [routerLink]="['/']">
            <span class="svg-icon svg-icon-primary">
                <ukep-icons name="layout_top_panel_2"></ukep-icons>
            </span>
        </button>
        
        <span class="h6 ms-3 mb-0">{{ title() }}</span>
    </div>
</header>

<main class="root">
    <!-- <button type="button" (click)="export()">Export</button> -->
      <div class="board" [ngClass]="container$ | async" resizable (resize)="onResizeContainer($event)" [minWidth]="512" [minHeight]="512" [maxWidth]="1200" [maxHeight]="1200">
        <div class="container-fluid">
          <app-grid-container draggableDropzone (itemDropped)="handleDroppedItem($event)"></app-grid-container>
        </div>
      </div>
    </main>