<header ukep-header class="header-sticky">
    <ng-container ngProjectAs="[natigation]">
        <button type="button" class="btn btn-outline-secondary" [routerLink]="['..']" ngbTooltip="Главная">
            <span class="svg-icon svg-icon-primary">
                <ukep-icons name="angle_left"></ukep-icons>
            </span>
        </button>

        <!-- Может оставить ссылочку (иконка) на главную страницу -->
        <!-- <button type="button" class="btn btn-outline-secondary" [routerLink]="['/']">
            <span class="svg-icon svg-icon-primary">
                <ukep-icons name="layout_top_panel_2"></ukep-icons>
            </span>
        </button> -->
        
        <!-- Title документа открытого -->
        <span class="h6 ms-3 mb-0" ngbTooltip="Наименование формы">{{ title() }}</span>

        <div class="ms-5 d-flex gap-2">
          <button type="button" class="btn btn-outline-secondary" type="button" (click)="undo()" ngbTooltip="Отменить">
            <span class="svg-icon svg-icon-primary">
                <ukep-icons name="undo"></ukep-icons>
            </span>
          </button>

          <button type="button" class="btn btn-outline-secondary" type="button" (click)="redo()" ngbTooltip="Применить">
            <span class="svg-icon svg-icon-primary">
                <ukep-icons name="redo"></ukep-icons>
            </span>
          </button>
        </div>

        @if (targetSelection$ | async; as targetSelection) {
          <div class="ms-5">
            <span>
              Выбран: {{ targetSelection.title }}, позиция: {{ targetSelection.index }}
              <ng-container *ngIf="targetSelection.type === 'column'">[{{ targetClassList$ | async | json }}]</ng-container>
            </span>
            
          </div>
        }
    </ng-container>

    <ng-container ngProjectAs="[actions]">
      <app-grid-switcher ngbTooltip="Макет"></app-grid-switcher>

      <button type="button" class="btn btn-outline-secondary" [routerLink]="['/']" ngbTooltip="Результат">
        <span class="svg-icon svg-icon-primary">
          <ukep-icons name="visible"></ukep-icons>
        </span>
      </button>

      <button type="button" class="btn btn-outline-secondary me-5" [routerLink]="['/']" ngbTooltip="Экспорт">
        <span class="svg-icon svg-icon-warning">
          <ukep-icons name="export"></ukep-icons>
        </span>
      </button>
    </ng-container>
</header>

<main class="builder-main">

  <aside class="grid-sidebar grid-l-side bg-body-tertiary">

    <h6 class="mt-3">Список элементов</h6>

    <ul class="p-0">
    @for (item of elementList$ | async; track item.id) {
        <li class="sidebar-item user-draggable" appDraggable [dragData]="item">

          <!-- Title {{ $index + 1 }}. -->
          <h6>{{ item.title }}</h6>

          <!-- Input -->
          @if (item.id === 0) {
            <div class="form-group" tabindex="-1" (mousedown)="$event.preventDefault()">
              <label>Lorem ipsum dolor</label>
              <input type="email" class="form-control form-control-sm" placeholder="Lorem ipsum dolor sit" tabindex="-1" (click)="$event.preventDefault()" (mousedown)="$event.preventDefault()">
              <small class="form-text text-muted">Lorem ipsum dolor sit, amet adipisicing.</small>
            </div>
          }

          <!-- File-input -->
          @if (item.id === 1) {
            <div class="form-group">
              <label>Lorem ipsum dolor</label>
              <input type="file" class="form-control-file" tabindex="-1" (click)="$event.preventDefault()" (mousedown)="$event.preventDefault()">
            </div>
          }

          <!-- Checkbox -->
          @if (item.id === 2) {
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" (click)="$event.preventDefault()" (mousedown)="$event.preventDefault()">
              <label class="form-check-label">
                Lorem ipsum dolor sit
              </label>
            </div>
          }

          <!-- Radio-button -->
          @if (item.id === 3) {
            <div class="form-check">
              <input class="form-check-input" type="radio" value="" (click)="$event.preventDefault()" (mousedown)="$event.preventDefault()">
              <label class="form-check-label">
                Lorem ipsum dolor sit
              </label>
            </div>
          }

          <!-- Button -->
          @if (item.id === 4) {
            <button type="submit" class="btn btn-primary" (click)="$event.preventDefault()" (mousedown)="$event.preventDefault()">Lorem ipsum dolor sit</button>
          }

          <!-- Combobox -->
          @if (item.id === 5) {
            <div class="form-group"> 
              <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Lorem ipsum</label>
              <select class="custom-select custom-select-sm">
                <option selected>Lorem ipsum dolor sits</option>
              </select>
            </div>
          }

          <!-- Table -->
          @if (item.id === 6) { }


        </li>
        
        <hr *ngIf="!$last">
      }
    </ul>
  </aside>

  <app-grid-root (resize)="onResizeContainer($event)"></app-grid-root>
  
  <aside class="grid-sidebar grid-r-side bg-body-tertiary">

    <h6 class="mt-3">Параметры</h6>

    @if (targetSelection$ | async; as targetSelection) {
      @if (targetSelection.type === 'column') {
        <div class="mb-1">
          <label for="classSelector">Класс колонки</label>
          <div ngbDropdown class="d-inline-block">
            <button type="button" class="btn btn-md btn-outline-secondary" id="classSelector" ngbDropdownToggle>
              <div class="select-ellipsis">{{ targetClassList$ | async | uppercase }}</div>
            </button>
          
            <ul ngbDropdownMenu aria-labelledby="classSelector">
              @for (size of sizes$ | async; track $index) {
                <li class="ps-2">
                  <label for="checkbox-{{size.id}}">
                    <input type="checkbox" id="checkbox-{{size.id}}" (change)="onCheckboxChange($event, size.code, targetSelection)"/>
                  {{ size.name }}</label>
                </li>
              }
              @empty {
                <span>Нет записей</span> 
              }
            </ul>
          </div>
        </div>
  
        <div>
          <label for="offsetSelector">Отступ колонки</label>
          <div ngbDropdown class="d-inline-block">
            <button type="button" class="btn btn-md btn-outline-secondary" id="offsetSelector" ngbDropdownToggle>
              <div class="select-ellipsis">{{ targetClassList$ | async | uppercase }}</div>
            </button>
          
            <ul ngbDropdownMenu aria-labelledby="offsetSelector">
              @for (offset of offsets$ | async; track $index) {
                <li class="ps-2">
                  <label for="checkbox-{{offset.id}}">
                    <input type="checkbox" id="checkbox-{{offset.id}}" (change)="onCheckboxChange($event, offset.code, targetSelection)"/>
                  {{ offset.name }}</label>
                </li>
              }
              @empty {
                <span>Нет записей</span> 
              }
            </ul>
          </div>
        </div>
      }
      @else if(targetSelection.type === 'element') {
        <span>Скоро можно будет применить параметры</span>
      }
      @else {
        <!-- Это если выбрали row к примеру-->
        <ng-container *ngTemplateOutlet="noRecordsTemplate; context: { 
          $implicit: { 
            title: 'Для данного элемента нет настраиваемых параметров' 
          } 
        }"></ng-container>
      }
    }
    @else {
      <ng-container *ngTemplateOutlet="noRecordsTemplate; context: { 
        $implicit: { 
          title: 'Выберите элемент или колонку для детальной настройки' 
        } 
      }"></ng-container>
    }

    <!-- С использованием FormGroup позже доработать !!! -->
    @if (selectForm) {
      <form class="d-flex flex-column gap-2" [formGroup]="selectForm">
        <div class="d-block">
          <label for="dropdownBasic1">Класс колонки</label>
          <div ngbDropdown class="d-block">
            <button class="btn btn-outline-secondary" id="dropdownBasic1" ngbDropdownToggle>
              @for (sizesChanges of sizesChanges$ | async; track $index) {
                {{ sizesChanges }}
              }
              @empty {
                <span>Значение по умолчанию</span>
              }
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1" formArrayName="sizes">
              @for (controlName of sizes$ | async; track $index) {
                <div class="form-group ms-2">
                  <input type="checkbox" class="form-check-check me-1" id="checkbox-{{$index}}" [formControlName]="$index">
                  <label class="form-check-label" for="checkbox-{{ $index }}">
                    {{ controlName.code }}
                  </label>
                </div>
              }
            </div> 
          </div>
        </div>

        <div class="d-block">
          <label for="dropdownBasic1">Отступ колонки</label>
          <div ngbDropdown class="d-block">
            <button class="btn btn-outline-secondary" id="dropdownBasic1" ngbDropdownToggle>
              @for (offsetsChanges of offsetsChanges$ | async; track $index) {
                {{ offsetsChanges }}
              }
              @empty {
                <span>Значение не задано</span>
              }
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1" formArrayName="offsets">
              @for (controlName of offsets$ | async; track $index) {
                <div class="form-group ms-2">
                  <input type="checkbox" class="form-check-check me-1" id="checkbox-{{$index}}" [formControlName]="$index">
                  <label class="form-check-label" for="checkbox-{{ $index }}">
                    {{ controlName.code }}
                  </label>
                </div>
              }
            </div> 
          </div>
        </div>
      </form>
    }
  </aside>

</main>

<ng-template #noRecordsTemplate let-dataItem>
  <span>{{ dataItem.title }}</span>
</ng-template>