@import '_variables.scss';

:host {
    position: relative;
    padding: $column-padding;
    
    border-width: $border-width;
    border-style: $border-dashed;
    border-color: $color-primary;
    
    transition: all background-color .3s ease-in-out;
} 