@import '_variables.scss';

:host {
    height: 100%;
    display: block;
    position: relative;

    padding: $container-padding;

    border-color: transparent;
    border-width: $border-width !important;
    border-style: $border-dashed !important;
}