<div style="position: absolute; top: -20px; left: 0px;">
    <button type="button" [disabled]="(canUndo$ | async) === false" (click)="undo()">undo</button>
    <button type="button" [disabled]="(canRedo$ | async) === false" (click)="redo()">redo</button>
</div>

<app-grid-switcher></app-grid-switcher>

@for (row of rows$ | async; track row.id) {
    <app-grid-row [row]="row" appDraggable [dragData]="row" draggableDropzone (itemDropped)="handleDroppedItem($event, row)"></app-grid-row>
}
@empty {
    <ng-container *ngTemplateOutlet="startTemplate"></ng-container>
}

<ng-template #startTemplate>
    <div class="row h-100 w-100">
        <div class="col col-xs col-sm col-md col-lg d-flex flex-column align-items-center justify-content-center">
            <div >Click the start button, to create grid rows and cols</div>
            <br>
            <div>
                <button type="button" (click)="createFirstColumns()">Start <i>🚀</i></button>   
            </div>
        </div>
    </div>
</ng-template>