// $primaryColor: #4fcada46;
// $theme-colors: (
//   primary: #4fcada,
//   light: $primaryColor
// );

// $input-focus-color: #4fcada;
// $input-focus-border-color: #4fcada;
// $input-focus-box-shadow: none;

// $tooltip-bg: rgb(255, 255, 255);
// $tooltip-color: rgb(26, 22, 22);

// $popover-max-width: 800px;
// .tooltip[role=tooltip] {
//   box-shadow: 0px 50px 0px rgba(82, 63, 105, 0.15);
// }

// Переменные bootstrap
@import "bootstrap/scss/bootstrap";
@import "bootstrap/scss/_variables";

// Переменные проекта
@import '_variables.scss'; 

// :root {
//   --theme-background: white;
//   --theme-color: black;
// }

// :root[theme=dark] {
//   --theme-background: #222226;
//   --theme-color: rgba(255,255,255,.75);
// }

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;

  // background-color: var(--theme-background);
  // color: var(--theme-color);
  // transition: all ease-in-out 400ms;
}






.placeholder-color {
  color: $color-secondary;
}

.drag-over {
  background-color: $drag-bg-color !important;
  border-color: $border-color-warning !important;
  border-width: $border-width !important;
  border-style: $border-style !important;
}

.user-draggable {
  display: flex;
  align-items: flex-end;
  padding-right: 4px;
  user-select: none;
  cursor: grab;
}