@import '_variables.scss';

:host {
    position: relative;
    padding: $row-padding;

    transition: border-color .3s ease-in-out;
    -webkit-transition: border-color .3s ease-in-out;
    
    border-color: transparent;
    border-width: $border-width;
    border-style: $border-dashed;

    .empty-template-bordered { 
        padding: $row-empty-padding;

        border-color: $color-white;
        border-width: $border-width;
        border-style: $border-dashed;
    }
}
